.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 1rem 10rem;
  }
  
  
  .leaf-icon {
    /* Add styles for your SVG icon here */
        width: 50%;
  }